<app-search class="row"
            [triggerIfEmpty]="true"
            (textChanged)="searchStream$.next($event)">
</app-search>

<form>
  <div class="form-group">
    <div class="checkbox">
      <label>
        <input type="checkbox" id="empFilter" #filterCheck (click)="filterStream$.next(filterCheck.checked)">
        Show only developers
      </label>
    </div>
  </div>
</form>

<div class="list-group employee-list">
  <a [routerLink]="['/employees', employee.id]" class="list-group-item" *ngFor="let employee of employees">
    <img class="pull-left" [src]="employee.picture"
         [alt]="employee.name">
    <h4 class="list-group-item-heading">{{ employee.name }}</h4>
    <p class="list-group-item-text">({{ employee.position }})</p>
  </a>
</div>
